---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
import RadarChart from "../components/RadarChart.astro";
import { Markdown } from "@astropub/md";
import "../styles/blog.scss";

import mandelbaumAvif from "../assets/mandelbaum.avif";
import bloodmageEngineWebm from "../assets/video/bloodmage_engine.webm";
import bloodmageEngineWebp from "../assets/video/bloodmage_engine.webp";
import mageanoidWebm from "../assets/video/mageanoid.webm";
import mageanoidWebp from "../assets/video/mageanoid.webp";
import ohmygoshWebm from "../assets/video/ohmygosh.webm";
import ohmygoshWebp from "../assets/video/ohmygosh.webp";

type Paper = {
    title: string;
    link: string;
    release: number;
};

type Company = {
    name: string;
    description: string;
    since: number;
    until?: number;
    link: string;
};

type Project = {
    name: string;
    description: string;
    link: string;
    tech: Array<
        | "bash"
        | "bevy"
        | "c"
        | "cpp"
        | "css"
        | "go"
        | "java"
        | "js"
        | "lua"
        | "nestjs"
        | "papermc"
        | "parcel"
        | "preact"
        | "qdrant"
        | "rabbitmq"
        | "react"
        | "rollup"
        | "rs"
        | "sass"
        | "sdl"
        | "svelte"
        | "tailwind"
        | "ts"
        | "vim"
        | "webpack"
    >;
    video?: [ImageMetadata, string, string];
    img?: ImageMetadata[];
};

const companies: Array<Company> = [
    {
        name: "Bloodmage Software",
        description:
            "I founded Bloodmage Software with my flatmate René after using the name on Steam for my game Mageanoid. " +
            "We are mostly interested in games and entertainment but are definitely not restricted to that.",
        since: 2025,
        link: "https://bloodmagesoftware.de/",
    },
    {
        name: "enyDyne",
        description:
            "I joined Lara and Tatjana 2024 who started enyDyne a year prior. " +
            "We are digitalizing the german gastronomy with our SaaS platform.",
        since: 2024,
        link: "https://enydyne.de/",
    },
];

const papers: Array<Paper> = [
    {
        title: "Entwicklung und Evaluation einer Plattform für zugängliches Cloud-Gaming zur Bereitstellung von High-End-Spieledemos auf Low-End-Geräten",
        link: "https://tsukinoko-kun.github.io/bachelor-thesis/",
        release: 2025,
    },
    {
        title: "Wie wirkt sich die Verwendung von KI auf den Lernerfolg von Software-Engineering-Studenten aus?",
        link: "https://tsukinoko-kun.github.io/Frank_Mayer_KI_in_der_Lehre_2025/",
        release: 2025,
    },
];

const portfolio: Array<Project> = [
    {
        name: "Pogo",
        description:
            "A centralized version control system that is simple and easy to use.\n\n" +
            "- **🏠 Centralized Server:** A single source of truth for all your data.\n" +
            "- **💻 Easy CLI Client:** No need for a complex GUI.\n" +
            "- **🌐 Simple Web UI:** For easy viewing of your repositories.\n" +
            "- **🔄 Cross-Platform Consistency:** Works the same on all major operating systems.\n" +
            "- **📄 Text & Binary File Support:** Handles all file types with ease.\n" +
            "- **💥 First-Class Conflicts:** Push conflicts to the remote and resolve them later.\n" +
            "- **🌳 No Named Branches:** Create branches by adding multiple children to a change and merge them by creating a new change with multiple parents. Changes are automaticall named.\n" +
            "- **🔖 Bookmarks:** Tag versions with bookmarks, like `main` for the current version or `v1.0.0` for a specific version. `main` is treated like a default branch in Git.\n" +
            "- **📦 Go Module Support:** Import a Pogo repository as a Go module, no additional configuration or software required.\n" +
            "- **🔒 Adaptive Security:** Automatically detects and uses HTTPS/TLS when available, gracefully falls back to HTTP when needed.\n",
        link: "https://pogo-vcs.com/",
        tech: ["go"],
    },
    {
        name: "Gqlc",
        description:
            "Compile GraphQL operations to type-safe TypeScript functions including Zod schema validation.\n" +
            "You can use local files or a server like Apollo as the schema source.\n\n" +
            "This project is heavily inspired by [sqlc](https://sqlc.dev/), which compiles SQL to Go.",
        link: "https://github.com/tsukinoko-kun/gqlc",
        tech: ["go", "ts"],
    },
    {
        name: "Oh My Gosh",
        description:
            "High-level interactive UNIX shell.\n\n" +
            "Every command runs in a block. All blocks run in the background. The user can select a running block to write to it's stdin.\n\n" +
            "I implemented a compiler for ANSI escape sequences to enable rendering apps that modify their output (like Docker, curl, etc.). I also implemented some OSC (Operating System Commands) to provide a better integration to the terminal. Apps that use alt-mode (like Vim) run in full-screen instead of a block because users will interact with them more.",
        link: "https://github.com/tsukinoko-kun/ohmygosh",
        tech: ["go"],
        video: [ohmygoshWebp, ohmygoshWebm, 'video/webm; codecs="vp09"'],
    },
    {
        name: "Mageanoid",
        description:
            "Twin stick shooter game where you play as a mage fighting against hordes of skeletons.\n\n" +
            "This was my first project with both Rust and the Bevy game engine. I wanted to try Rust and made this project in about a week.",
        link: "https://store.steampowered.com/app/3104840/Mageanoid",
        tech: ["rs", "bevy"],
        video: [mageanoidWebp, mageanoidWebm, 'video/webm; codecs="vp09"'],
    },
    {
        name: "mandelbaum.ai (dynabase Technologies GmbH)",
        description:
            "AI based semantic search component for every e-commerce webshop. Content is automatically crawled and indexed. Search is powered by a vector database.\n\n" +
            "I worked here for four months and made the crawling process usable for very old websites that do not adhere to standards and have no machine-readable information.",
        link: "https://mandelbaum.ai/",
        tech: [
            "ts",
            "nestjs",
            "svelte",
            "tailwind",
            "qdrant",
            "webpack",
            "rabbitmq",
        ],
        img: [mandelbaumAvif],
    },
    {
        name: "Bloodmage Engine",
        description:
            "90s style 3D game engine built in Go using SDL2.\n\n" +
            "I built a software renderer based on the algorithm used in Wolfenstein 3D and Doom. I also implemented texture streaming and a simple editor.\n\n" +
            "This was a time-limited project (2 months) in a Bachelor's course.",
        link: "https://github.com/bloodmagesoftware/bloodmage-engine",
        tech: ["go", "sdl"],
        video: [
            bloodmageEngineWebp,
            bloodmageEngineWebm,
            'video/webm; codecs="vp09"',
        ],
    },
];
---

<Layout title="Portfolio" desc="Software Engineer">
    <div class="surround-h1">
        <h1 class="text-5xl font-semibold tracking-tight">
            Hey,<br />
            I'm Frank
        </h1>
    </div>

    <p class="ml-4 md:ml-6 text-balance">
        Software engineer from Germany who loves things that just work. Sadly,
        that's not the norm.<br />I am here to fix that.
    </p>
    <p class="mt-4 ml-4 md:ml-6 text-balance">
        You can't hire me, but you can hire my company <a
            class="inline underline hover:text-ctp-mauve"
            target="_blank"
            rel="prefetch"
            href="https://bloodmagesoftware.de/">Bloodmage Software</a
        >.
    </p>

    <h2 id="skills" class="text-3xl font-semibold surround-h2">
        My Skills in a Nutshell
    </h2>
    <RadarChart />

    <section aria-labelledby="projects">
        <h2 id="companies" class="text-3xl font-semibold surround-h2">
            My Companies
        </h2>
        <ul>
            {
                companies.map((company) => (
                    <li class="pl-2 mt-4 ml-8 list-disc">
                        <Link
                            href={company.link}
                            hover
                            class="block text-pretty"
                        >
                            <b class="font-bold">{company.name}</b> (since{" "}
                            {company.since}
                            {company.until ? ` until ${company.until}` : ""})
                            <p class="blog">
                                <Markdown of={company.description} />
                            </p>
                        </Link>
                    </li>
                ))
            }
        </ul>
        <h2 id="papers" class="text-3xl font-semibold surround-h2">
            Scientific Papers
        </h2>
        <ul>
            {
                papers.map((paper) => (
                    <li class="pl-2 mt-4 ml-8 list-disc">
                        <Link href={paper.link} hover class="block text-pretty">
                            <b>{paper.title}</b> ({paper.release})
                        </Link>
                    </li>
                ))
            }
        </ul>
        <h2 id="projects" class="text-3xl font-bold surround-h2">Projects</h2>
        <ul>
            {
                portfolio.map((prj) => (
                    <li class="pl-4">
                        <h3 class="text-xl font-bold surround-h3">
                            {prj.name}
                        </h3>
                        <div class="ml-4 md:ml-6">
                            <Link class="my-2 underline" href={prj.link} hover>
                                Go to the project
                            </Link>
                            <div class="blog">
                                <Markdown of={prj.description} />
                            </div>
                            <div class="grid gap-2 w-full grid-cols-[auto_1fr]">
                                <span class="block col-auto">
                                    {prj.tech.length > 1
                                        ? "Technologies:"
                                        : "Technology:"}
                                </span>
                                <ul class="flex flex-row flex-wrap select-none w-fit">
                                    {prj.tech.map((tech) => (
                                        <li class="block">
                                            <img
                                                class="inline-block mr-1 w-6 h-6"
                                                draggable={false}
                                                decoding="async"
                                                loading="lazy"
                                                src={"/tech/" + tech + ".svg"}
                                                alt={tech}
                                                title={tech}
                                            />
                                        </li>
                                    ))}
                                </ul>
                            </div>
                            {prj.video && (
                                <video
                                    class="w-4/5 md:w-2/3 aspect-auto"
                                    autoplay
                                    loop
                                    muted
                                    controls={false}
                                    playsinline
                                    src={prj.video[1]}
                                    type={prj.video[2] ?? "video/webm"}
                                    preload="auto"
                                    poster={prj.video[0].src}
                                />
                            )}
                            {prj.img ? (
                                <ul class="flex flex-row flex-wrap mt-2">
                                    {prj.img
                                        ? prj.img.map((i) => (
                                              <li class="w-4/5 md:w-2/3 aspect-auto">
                                                  <img
                                                      src={i.src}
                                                      draggable={false}
                                                      loading="lazy"
                                                      decoding="async"
                                                  />
                                              </li>
                                          ))
                                        : null}
                                </ul>
                            ) : null}
                        </div>
                    </li>
                ))
            }
        </ul>
    </section>
</Layout>
