---
import "../styles/index.scss";
import Link from "../components/Link.astro";
import { ViewTransitions } from "astro:transitions";

const canonical = new URL(Astro.url.pathname, "https://www.frank-mayer.io/");

export interface Props {
    title: string;
    desc: string;
}

const mainTitle = "Frank Mayer";

const desc = Astro.props.desc;
const title = Astro.props.title
    ? `${mainTitle} \\\\ ${Astro.props.title}`
    : mainTitle;
---

<!DOCTYPE html>
<html lang="en" class="bg-background">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="view-transition" content="same-origin" />
        <link
            rel="shortcut icon"
            type="image/jpeg"
            href="/hotlink-ok/preview.jpg"
        />
        <link
            rel="preload"
            href="/fonts/Circular-Book.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link
            rel="preload"
            href="/fonts/Circular-Title.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link rel="canonical" href={canonical} />
        <title>{title}</title>
        <meta name="description" content={desc} />
        <meta name="keywords" content="software, engineering" />
        <meta name="author" content="Frank Mayer" />
        <meta property="og:url" content={canonical} />
        <meta property="og:site_name" content="Frank Mayer" />
        <meta property="og:title" content={title} />
        <meta property="og:type" content="website" />
        <meta
            property="og:image"
            content="https://www.frank-mayer.io/hotlink-ok/preview.jpg"
        />
        <meta property="twitter:domain" content="frank-mayer.io" />
        <meta property="twitter:url" content={canonical} />
        <meta name="twitter:site" content="@tsukinoko_kun" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:creator" content="@tsukinoko_kun" />
        <meta
            name="twitter:image"
            content="https://www.frank-mayer.io/hotlink-ok/preview.jpg"
        />
        <meta name="theme-color" content="#11111b" />
        <ViewTransitions />
    </head>

    <body
        class="subpixel-antialiased font-normal text-base bg-background text-foreground"
    >
        <header
            transition:animate="none"
            class="content backdrop-blur bg-background/50 sticky top-0 z-50"
        >
            <nav class="surround-nav">
                <Link href="/" class="underline hover:text-primary">
                    My Portfolio
                </Link>
                <br />
                <Link href="/about_me" class="underline hover:text-primary">
                    About me
                </Link>
                <br />
                <Link href="/contact" class="underline hover:text-primary">
                    Contact
                </Link>
            </nav>
        </header>

        <div class="max-w-xl mx-auto p-2 pb-32">
            <main class="tracking-wide" transition:animate="slide">
                <slot />
            </main>
        </div>
    </body>
</html>

<style>
    header {
        padding: 1rem max(0.5rem, calc(50vw - 18em)) !important;
        background-image: url(/img/me.webp);
        background-size: 6rem;
        background-repeat: no-repeat;
        background-position-x: calc(100% - 1rem);
        background-position-y: 1rem;
    }
</style>
