---
import "../styles/index.scss";
import Header from "../components/Header.astro";
import Speculationrules from "../components/Speculationrules.astro";
import { twMerge } from "tailwind-merge";

const canonical = new URL(Astro.url.pathname, "https://frankmayer.dev");

export interface Props {
    title: string;
    desc: string;
    class?: string;
}

const mainTitle = "Frank Mayer";

const desc = Astro.props.desc;
const title = Astro.props.title
    ? `${mainTitle} \\\\ ${Astro.props.title}`
    : mainTitle;
---

<!doctype html>
<html lang="en" class="bg-background">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="darkreader-lock" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link
            rel="preload"
            href="/fonts/JetBrainsMono-Regular.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link rel="canonical" href={canonical} />
        <title>{title}</title>
        <meta name="description" content={desc} />
        <meta name="keywords" content="software, engineering" />
        <meta name="author" content="Frank Mayer" />
        <meta property="og:url" content={canonical} />
        <meta property="og:site_name" content="Frank Mayer" />
        <meta property="og:title" content={title} />
        <meta property="og:type" content="website" />
        <meta
            property="og:image"
            content="https://frankmayer.dev/hotlink-ok/preview.png"
        />
        <meta property="twitter:domain" content="frankmayer.dev" />
        <meta property="twitter:url" content={canonical} />
        <meta name="twitter:site" content="@tsukinoko_kun" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:creator" content="@tsukinoko_kun" />
        <meta
            name="twitter:image"
            content="https://frankmayer.dev/hotlink-ok/preview.png"
        />
        <meta name="theme-color" content="#11111b" />
        <meta name="view-transition" content="same-origin" />
    </head>

    <body
        class="text-base subpixel-antialiased font-normal bg-background text-foreground print:ctp-latte dark:ctp-mocha"
    >
        <Header
            nav={[
                { href: "/", text: "Portfolio" },
                { href: "/resume", text: "Resume" },
                { href: "/links", text: "Links & Contact" },
                { href: "/blog", text: "Blog" },
            ]}
            current={Astro.url.pathname}
        />

        <div class="p-2 pb-32 mx-auto max-w-4xl">
            <main
                class={twMerge("tracking-wide", Astro.props.class)}
                style="view-transition-name=main"
            >
                <slot />
            </main>
        </div>
        <Speculationrules />
    </body>
</html>
