---
import "../styles/index.sass";
import "../styles/nav.sass";
import "../styles/card.sass";
import "../styles/scrollbar.sass";
import Footer from "../components/Footer.astro";
import Link from "../components/Link.astro";

const reqUrl = new URL(Astro.request.url);
const canonical = new URL(reqUrl.pathname, "https://www.frank-mayer.io/");

export interface Props {
    title: string;
    desc: string;
    preload?: {
        images?: Array<string>;
    };
}

const { title, desc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="shortcut icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
        <link
            rel="preload"
            href="/fonts/CircularSp-Book.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link rel="canonical" href={canonical} />
        <title>{title}</title>
        <meta name="description" content={desc} />
        <meta name="keywords" content="software, engineering" />
        <meta name="author" content="Frank Mayer" />
        <meta property="og:url" content={canonical} />
        <meta property="og:site_name" content="Frank Mayer" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="/preview.jpg" />
        <meta property="twitter:domain" content="frank-mayer.io" />
        <meta property="twitter:url" content={canonical} />
        <meta name="twitter:site" content="@FF1493FF" />
        <meta name="twitter:creator" content="@FF1493FF" />
        <meta name="twitter:image" content="/preview.jpg" />
        <meta name="theme-color" content="#13161c" />
        {
            Astro.props.preload
                ? Astro.props.preload.images
                    ? Astro.props.preload.images.map((path) => (
                          <link rel="preload" href={path} as="image" />
                      ))
                    : null
                : null
        }
    </head>
    <body>
        <div class="page-wrapper">
            <nav class="nav card-wrapper">
                <Link
                    class="nav__item card-wrapper__card"
                    href="/"
                    data-hash="home"
                >
                    <span class="card-wrapper__card__content">Home</span>
                </Link>
                <Link
                    class="nav__item card-wrapper__card"
                    href="/#portfolio"
                    data-hash="portfolio"
                >
                    <span class="card-wrapper__card__content">Portfolio</span>
                </Link>
                <Link
                    class="nav__item card-wrapper__card"
                    href="/#contact"
                    data-hash="contact"
                >
                    <span class="card-wrapper__card__content">Contact</span>
                </Link>
                <Link class="nav__item card-wrapper__card" href="/live">
                    <span class="card-wrapper__card__content">Livestream</span>
                </Link>
            </nav>
            <main class="page-wrapper__content">
                <slot />
            </main>
            <Footer />
        </div>

        <script defer>
            const mql = window.matchMedia("(hover: hover) and (pointer: fine)");
            if (mql.matches) {
                const cardsEls = Array.from(
                    document.getElementsByClassName("card-wrapper__card")
                );

                window.addEventListener(
                    "mousemove",
                    (ev) => {
                        for (const cardEl of cardsEls) {
                            const rect = cardEl.getBoundingClientRect();

                            const x = ev.clientX - rect.left;
                            const y = ev.clientY - rect.top;

                            cardEl.style.setProperty("--x-pos", `${x}px`);
                            cardEl.style.setProperty("--y-pos", `${y}px`);
                        }
                    },
                    {
                        passive: true,
                    }
                );
            }
        </script>
    </body>
</html>
