---
import "../styles/index.scss";
import Footer from "../components/Footer.astro";
import Link from "../components/Link.astro";

const canonical = new URL(Astro.url.pathname, "https://www.frank-mayer.io/");

export interface Props {
    title: string;
    desc: string;
}

const mainTitle = "Frank Mayer";

const desc = Astro.props.desc;
const title = Astro.props.title
    ? `${mainTitle} \\\\ ${Astro.props.title}`
    : mainTitle;
---

<!DOCTYPE html>
<html lang="en" class="bg-background">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="view-transition" content="same-origin" />
        <link
            rel="shortcut icon"
            type="image/jpeg"
            href="/hotlink-ok/preview.jpg"
        />
        <link
            rel="preload"
            href="/fonts/Circular-Book.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link
            rel="preload"
            href="/fonts/Circular-Title.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
        <link rel="canonical" href={canonical} />
        <title>{title}</title>
        <meta name="description" content={desc} />
        <meta name="keywords" content="software, engineering" />
        <meta name="author" content="Frank Mayer" />
        <meta property="og:url" content={canonical} />
        <meta property="og:site_name" content="Frank Mayer" />
        <meta property="og:title" content={title} />
        <meta property="og:type" content="website" />
        <meta
            property="og:image"
            content="https://www.frank-mayer.io/hotlink-ok/preview.jpg"
        />
        <meta property="twitter:domain" content="frank-mayer.io" />
        <meta property="twitter:url" content={canonical} />
        <meta name="twitter:site" content="@tsukinoko_kun" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:creator" content="@tsukinoko_kun" />
        <meta
            name="twitter:image"
            content="https://www.frank-mayer.io/hotlink-ok/preview.jpg"
        />
        <meta name="theme-color" content="#11111b" />
    </head>

    <body
        class="subpixel-antialiased font-normal text-base bg-background text-foreground"
    >
        <nav
            class="content surround-nav backdrop-blur sticky top-0 block"
            style="padding: 0 calc(50vw - 18em);"
        >
            <Link href="/">
                <span>My Portfolio</span>
            </Link>
            <br />
            <Link href="/about_me">
                <span>About me</span>
            </Link>
            <br />
            <Link href="/contact">
                <span>Contact</span>
            </Link>
        </nav>

        <div class="max-w-xl mx-auto">
            <main class="tracking-wide">
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>
